*{margin: 0; padding: 0;}
body,html {
  width: 100%;
  height: 100%;
}

/*CSS TOP*/
@font-face {
  font-family: Lato-Regular;
  src: url(./../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular-Black;
  src: url(./../fonts/Lato-Black.ttf);
}

.top {
  background: url("./../images/bg_top.jpg") center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  display: table;
}

.top .noidung {
  vertical-align: middle;
  display: table-cell;
}

.top .noidung .chunho {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
}

.top .noidung .chuto {
  font-family: 'Lato-Regular-Black', sans-serif;
  font-size: 54px;
  font-weight: 800px;
  margin: 0;
  padding: 0;
}

.top .noidung .nuttop {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 18px;
  padding: 22px, 33px;
  border: 1px solid white;
  border-radius: 2px;
  margin-top:60px;
  text-transform: uppercase;
}
.top .noidung .nuttop:hover {
  background: none;
}

/*END CSS TOP*/

/*CSS TOP CHO TRANG CONTACT*/

/*=======CSS cho menu ========*/
.menuphai li.nav-item a.nav-link {
  font-family: 'Lato-Regular', sans-serif;
  color:#a1b1bc;
  font-size: 16px;
  padding: 42px 24px;
}
.menuphai li.nav-item a.nav-link:hover {color: #1abc9c;}
.menuphai li.nav-item.active a.nav-link {color: #1abc9c;}

/*TODO: Hết CSS cho menu ========*/

/*=======CSS cho di động==========*/
@media (max-width: 576px) {

  /*============PhanTop==============*/
  .top{
    background: url("./../images/bg_didong.jpg") center center;
    background-size: cover;
  }
  .top .noidung .chuto {
    font-size: 38px;
  }
  .top .noidung .nuttop {
    font-size: 15px;
    padding: 9px 27px;
    margin-top: 22px;
  }
  .top .noidung .chunho {
    font-size: 12px;
    padding: 9px 27px;
    margin-top: 22px;
  }
  /*============EndTop==============*/

  /*============Menu==============*/
  .menuphai li.nav-item a.nav-link {
    font-size: 19px;
    padding: 16px 24px;
    border-bottom: 1px dashed gray;
    text-transform: uppercase;
    
  }
  .menuphai li.nav-item a.nav-link:hover {
    color: #1abc9c;
    background: #ececec;
  }
  .menuphai li.nav-item.active a.nav-link {color: #1abc9c;}
  .navbar-brand {text-align: center;}
  .navbar-brand img {height: 80px; margin-top: -10px}
}

