*{margin: 0; padding: 0;}
body,html {
  width: 100%;
  height: 100%;
}

/*CSS TOP*/
@font-face {
  font-family: Lato-Regular;
  src: url(./../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Regular-Black;
  src: url(./../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: Lato-Regular-Bold;
  src: url(./../fonts/Lato-Bold.ttf);
}

.top {
  background: url("./../images/bg_top.jpg") center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  display: table;
}

.top .noidung {
  vertical-align: middle;
  display: table-cell;
}

.top .noidung .chunho {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 16px;
}

.top .noidung .chuto {
  font-family: 'Lato-Regular-Black', sans-serif;
  font-size: 54px;
  font-weight: 800px;
  margin: 0;
  padding: 0;
}

.top .noidung .nuttop {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 18px;
  padding: 22px, 33px;
  border: 1px solid white;
  border-radius: 2px;
  margin-top:60px;
  text-transform: uppercase;
}
.top .noidung .nuttop:hover {
  background: none;
}

/*END CSS TOP*/

/*CSS TOP CHO TRANG CONTACT*/

/*TODO: Bắt đầu CSS cho menu ========*/
.menutren {
  animation:dixuong 1s forwards;
}
.menuphai li.nav-item a.nav-link {
  font-family: 'Lato-Regular', sans-serif;
  color:#a1b1bc;
  font-size: 16px;
  padding: 42px 24px;
}
.menuphai li.nav-item a.nav-link:hover {color: #1abc9c;}
.menuphai li.nav-item.active a.nav-link {color: #1abc9c;}

/*======= Hết CSS cho menu ========*/

/*TODO: Bắt đầu CSS phần liên hệ ========*/
.ttlienhe {
  background: url(./../images/bg_top.jpg);
  background-size: cover;
  height: 600px;
  opacity: 0;
  animation:hienra 2s forwards;
  animation-delay: 0.4s;
}
.ttlienhe .thongtin {
  margin-top: 190px;
  background-color: #435566;
  border-left: 3px solid #16caaa;
  color: white;
  padding: 40px;
  opacity: 0;
  animation:hienra 2s forwards;
  animation-delay: 0.4s;
}
.thongtin h1 {
  font-family: 'Lato-Regular-Bold', sans-serif;
  font-size: 36px;
  margin-bottom: 25px;
}
.thongtin .col-sm-6 {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.thongtin ul {
  list-style: none;
}
.thongtin i {
  padding-right: 9px;
  font-size: 12px;
}
.thongtin .email {
  color:#1fc7a7;
}
/*======== Hết CSS phần liên hệ ========*/

/*TODO: Bắt đầu CSS phần Hiệu ứng ========*/
@keyframes hienra {
  from{opacity: 0; transform: translateX(-200px)}
  to{opacity: 1; transform: translateX(0px)}
}

@keyframes dixuong {
  from{opacity: 0; transform: translateY(-200px)}
  to{opacity: 1; transform: translateY(0px)}
}

/*======== Kết thúc CSS phần Hiệu ứng ========*/

/*======== CSS phần Liên Hệ ========*/
.formlienhe {
  margin-top: 100px;
}

.formlienhe .txtText {
  background-color: #f4f6f7;
  font-family: Lato-Regular-Bold;
  font-size: 14px;
  padding: 15px;
}

/*Css cho placeholder*/
.formlienhe .txtText::-webkit-input-placeholder {
  color:#2c3e50;
  font-size: 14px;
}

.formlienhe .c-select {
  padding: 3px;
}

.formlienhe .btnGui {
  background-color: #1abc9c;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius:0;
  width: auto;
}

/*======== Kết thúc CSS phần Liên Hệ ========*/

/*TODO: CSS phần Footer ========*/
footer .top_footer {
  background-color: #1a1c27;
  padding-top: 82px;
  padding-bottom: 82px;
  color: #758590;
  font-family: 'Lato-Regular', sans-serif;
}

/*TODO: Start Css_ Col1_4-----------*/
a.readmore {
  color: #1abc9c;
}

a.readmore:hover {
  text-decoration: none;
  color: white;
}

.readmore i.fa.fa-angle-right {
  background-color: #1abc9c;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  margin-right: 7px;
}

.top_footer .tren {
  border-bottom: 1px solid #243240;
}

/*--------Tren - Duoi--------*/

.top_footer .duoi {
  padding-top: 28px;
}

.top_footer .duoi .rssIcon i.fa {
  background-color: #67b807;
}

.top_footer .duoi .twitterIcon i.fa {
  background-color: #1b78c7;
}

.top_footer .duoi .fbIcon i.fa {
  background-color: #00bff3;
}

.top_footer .duoi .ggIcon i.fa {
  background-color: #67b807;
}

.top_footer .duoi .pintIcon i.fa {
  background-color: #a83617;
}

.top_footer .duoi .dribbbleIcon i.fa {
  background-color: #9C27B0;
}

.top_footer .duoi i.fa {
  background-color: #ffb400;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 14px;
  margin-top: 5px;
  border-radius: 2px;
}

.top_footer .duoi b {
  margin-bottom: -7px;
  display: block;
  color: #a1b1bc;
}
/*---------- Het Css_ Col1_4-----------*/

/*TODO: Start Css_ Col2_4: Lastest New-----------*/
h3.tieudef {
  font-size: 16px;
  font-weight: 100;
  color: white;
  margin-bottom: 18px;
  margin-top:21px;
  text-transform: uppercase;
}
.row.mottinf {
  border-bottom: 1px solid #243240;
  padding-top:14px;
  margin-left:10px;
}
.row.mottinf .col-sm-3, .row.mottinf .col-sm-9 {
  padding: 0px;
}
a.tdtin {
  color: #a1b1bc;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 9px;
  display: block;
}
.mottinf p {
  font-size: 14px;
  line-height: 24px;
}
.anhtinf img {
  width: 65px;
  height: 65px;
}

span.ngaythangtinf {
  display: block;
  color: #a1b1bc;
}

/*TODO:Het Css_ Col2_4-----------*/

/*======== End CSS phần Footer ========*/

/*TODO: Start:CSS cho di động==========*/
@media (max-width: 576px) {

  /*============PhanTop==============*/
  .top{
    background: url("./../images/bg_didong.jpg") center center;
    background-size: cover;
  }
  .top .noidung .chuto {
    font-size: 38px;
  }
  .top .noidung .nuttop {
    font-size: 15px;
    padding: 9px 27px;
    margin-top: 22px;
  }
  .top .noidung .chunho {
    font-size: 12px;
    padding: 9px 27px;
    margin-top: 22px;
  }
  /*Thông tin liên hệ trên mobile*/
  .ttlienhe .thongtin {
    margin-top: 135px;
  }
  .thongtin h1 {
    font-size: 22px;
  }
  /*============EndTop==============*/

  /*============Menu==============*/
  .menuphai li.nav-item a.nav-link {
    font-size: 19px;
    padding: 16px 24px;
    border-bottom: 1px dashed gray;
    text-transform: uppercase;
    
  }
  .menuphai li.nav-item a.nav-link:hover {
    color: #1abc9c;
    background: #ececec;
  }
  .menuphai li.nav-item.active a.nav-link {color: #1abc9c;}
  .navbar-brand {text-align: center;}
  .navbar-brand img {height: 80px; margin-top: -10px}
}

/*TODO:End: CSS cho di động==========*/

