article.tinnho {
	width: 325px;
	height: 265px;
	margin-right: 22px;
	border: 1px solid #E9E9E9;
	float: left;
}

article.tinnho img {
	width: 100%;
	height: 80%;
	padding-bottom: 14px;
}

article.tinnho a.tdtinnho {
	text-decoration: none;
	color: #414141;
	font-family: 'tahoma';
	font-weight: bold;
	font-size: 13px;
	padding-bottom: 34px;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

.thongtin {
	font-family: 'tahoma';
	font-size: 11px;
	color:gray;
	padding: 0px 0px 10px 10px;
}

/* Css cho div to */

article.tinto {
	width: 650px;
	margin-bottom: 20px;
	overflow: hidden; /* Chống tràn chữ lên : làm cho float ko ảnh hưởng đến cá 
	phần tử khác. 2 cách clear float
	*/
}

article.tinto img {
	width: 441px;
	float: left;
	margin-right: 22px;
}

.phai {
	font-family: tahoma;
	font-size: 13px;
}

.tentg {
	text-align: center;
	display: block;
	color: #414141;
	font-size: italic;
}

.tdto {
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #414141;
}
